<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8gMXbO_Lev4mhKvO5nMwburuBHj_zAqI</string>
	<key>GCM_SENDER_ID</key>
	<string>966356582576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodappLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cookbookver1</string>
	<key>STORAGE_BUCKET</key>
	<string>cookbookver1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966356582576:ios:bb6b80a898c97c2a49fb75</string>
</dict>
</plist>